.burgerMenu {
  padding: 10px;
  width: 375px;
  background-color: var(--white-background);
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  transition: right 0.4s ease-in-out;

  &.open {
    right: 0;
  }

  .closeBtn {
    display: flex;
    justify-content: end;
    width: 345px;
  }

  .openAcc {
    margin-bottom: 15px;
  }

  .burgerHeader {
    display: flex;
    justify-content: space-between;
  }

  .burgerBox {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .showInnerLink {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    gap: 10px;

    a {
      padding-left: 15px;
    }
  }

  .hideInnerLink {
    display: none;
  }

  .rotate {
    transform: rotate(180deg);
  }
}

.burgerLink {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--black-text-color);
  text-transform: uppercase;
  text-decoration: none;

  &:first-of-type {
    margin-right: 30px;
  }
}