.pageWrapper {
  padding: 66px 0 46px 0;
  background-color: var(--businness-background);
  background-image: url("/assets/images/business_investLoanPage_heroBlock.svg");
  background-repeat: no-repeat;
  background-position: bottom right;

  .pageList {
    padding-left: 312px;

    .heroItem {
      max-width: 600px;
    }

    .title {
      font-size: 30px;
      font-weight: 700;
      line-height: 38px;
      margin-bottom: 35px;
    }
  }

  .description {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 35px;

    li {
      font-size: 16px;
      font-weight: 300;
      list-style-type: none;
      padding-left: 26px;
      background: url(/assets/images/check2.svg) no-repeat left center;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: 30px;
    }

    .CheckText {
      font-weight: 300;
      font-size: 16px;
    }
  }
}

// ----- Media queries -----
@media (min-width: 1180px) {
  .pageWrapper {
    .heroImage {
      display: none;
    }
  }
}

@media (max-width: 1445px) {
  .pageWrapper {
    .pageList {
      padding-left: 50px;
    }
  }
}

@media (max-width: 1320px) {
  .pageWrapper {
    .pageList {
      background-position: calc(100% - 50px) bottom;
    }
  }
}

@media (max-width: 1180px) {
  .pageWrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: none;

    .pageList {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    .heroItem {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .imgBlock {
        display: flex;
        justify-content: center;
        gap: 30px;
      }

      .heroImage {
        margin-bottom: 30px;

        &.backBtn {
          cursor: pointer;
          margin-top: 36px;
        }
      }
    }

    .title {
      font-size: 23px;
      font-weight: 700;
      line-height: 29px;
      text-align: center;
    }

    .description {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
    }
  }
}

@media (max-width: 974px) {
  .pageWrapper {
    background-image: none;

    .pageList {
      padding: 10px;
    }
  }
}

@media (max-width: 768px) {
  .pageWrapper {
    padding: 10px 36px 10px 0;

    .pageList {
      padding-left: 40px;
    }
  }
}
