.pageWrapper {
  padding: 23px 0 46px 0;
  background-color: var(--businness-background);
  background-image: url("/assets/images/business_capitalLoanPage_heroBlock.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}

.pageList {
  padding-left: 290px;

  .heroItem {
    max-width: 610px;
  }

  .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 10px;
    text-align: left;
  }
}

.description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 35px;

  li {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    list-style-type: none;
    padding-left: 26px;
    background: url(/assets/images/check2.svg) no-repeat left center;
    margin-bottom: 8px;
    text-align: left;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    margin-bottom: 30px;
  }

  .CheckText {
    font-weight: 300;
    font-size: 16px;
  }
}

// ----- Media queries -----
@media (min-width: 1180px) {
  .pageWrapper {
    .heroImage {
      display: none;
    }
  }
}

@media (max-width: 1400px) {
  .pageWrapper {
    background-position: bottom right;

    .pageList {
      padding-left: 100px;
    }
  }
}

@media (max-width: 1250px) {
  .pageWrapper {
    .pageList {
      padding-left: 50px;
    }
  }
}

@media (max-width: 1180px) {
  .pageWrapper {
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: none;

    .heroItem {
      display: flex;
      flex-direction: column;
      align-items: center;

      .imgBlock {
        display: flex;
        justify-content: center;
        gap: 30px;
      }

      .heroImage {
        margin-bottom: 30px;

        &.backBtn {
          cursor: pointer;
          margin-top: 36px;
        }
      }
    }

    .title {
      font-size: 23px;
      font-weight: 700;
      line-height: 29px;
      text-align: center;
    }

    .description {
      font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
    }

    .pageList {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  }
}

@media (max-width: 974px) {
  .pageWrapper {
    .pageList {
      padding-left: 40px;
    }
  }
}

@media (max-width: 768px) {
  .pageWrapper {
    padding: 16px 0 10px 0;

    .pageList {
      padding: 10px;
      background-image: none;
    }
  }
}
