:root {
  --main-text-color: #0d222e;
  --light-color: #535353;
  --black-text-color: #000000;
  --white-text-color: #ffffff;

  --main-background: #f4f4f4;
  --creame-background: #d7d7d7;
  --white-background: #ffffff;
  --ligh-grey-background: rgba(217, 217, 217, 0.49);
  --light-creame-background: rgba(233, 179, 23, 0.1);
  --businness-background: rgba(194, 205, 225, 0.3);
  --table-border-color: #acacac;

  --theme-color1: #08173e;
  --theme-color2: #12d8e4;
  --theme-color3: rgba(217, 217, 217, 0.49);
  --theme-color4: #939096;
  --theme-color5: #eeeee9;
}

html {
  scroll-padding: 150px;
}

body {
  margin: 0;
  padding: 0;
  background: var(--main-background);
  text-align: justify;

  * {
    font-family: "Lexend", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.main-layout {
  position: relative;

  header,
  main,
  footer {
    max-width: 1440px;
    margin: 0 auto;
  }
}

header {
  padding: 40px 0 37px 0;
  background: var(--main-background);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;

  .logo-block {
    margin-right: 90px;
    height: 46px;
  }

  .bussiness-type-block {
    margin-right: 48px;

    .header-bussinness-type-nav-link {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--black-text-color);
      text-transform: uppercase;
      text-decoration: none;

      &:first-of-type {
        margin-right: 30px;
      }
    }
  }

  .header-navigation {
    margin-right: 48px;
    display: flex;
    align-items: center;
    gap: 30px;

    .navigation-parent-link {
      position: relative;
      height: 56px;
      display: flex;
      align-items: center;
      cursor: default;
    }

    .navigation-parent-link-credit {
      position: relative;
      height: 56px;
      display: flex;
      align-items: center;
      cursor: default;
    }

    .header-nav-link {
      font-family: "Lexend";
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: var(--main-text-color);
      text-decoration: none;

      &:last-child {
        margin-right: 0;
      }

      &.change-language-link {
        text-transform: uppercase;
        font-weight: 600;
      }
    }
  }

  .menubar {
    position: relative;

    .dropDownMenu {
      min-width: 100%;
      background-color: #f4f4f4;
      padding: 10px;
      box-shadow: 3px 10px 5px -4px rgba(0, 0, 0, 0.75);
      opacity: 1;
      position: absolute;
      top: 40px;
      left: -90px;
      z-index: 9;
      transition: 250ms ease-in-out;

      .toggleSubMenu {
        min-width: 250px;
        width: 100%;
        padding-top: 34px;
        padding-bottom: 34px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-bottom: solid 1px #d3d3d3;

        &:last-child {
          margin-bottom: 0;
          border-bottom: none;
        }

        a:hover {
          color: var(--theme-color2);
        }
      }
    }
  }

  .header-action-buttons-block {
    display: flex;
    gap: 16px;

    .header-action-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 154px;
      height: 42px;
      background: #0d222e;
      border-radius: 33px;
      text-decoration: none;
      color: #ffffff;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .change-language-link {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 60px 76px 0 120px;
  min-height: 350px;
  background-color: var(--theme-color1);
  text-align: left !important;

  .footerWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .useful-links {
    overflow: hidden;
    max-height: 42px;
  }

  .mobile_adress {
    max-width: 174px;
  }

  .footer-navigation-section {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }

    .footer-navigation-header {
      display: flex;
      justify-content: space-between;
    }

    .rotate {
      transform: rotate(180deg);
    }

    .footer-navigation-link {
      font-weight: 300;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      text-decoration: none;
    }

    .social-links-block {
      display: flex;
      gap: 18px;
      margin-top: 10px;
    }
  }
}

// ----- Media queries -----
@media (min-width: 1024px) {
  .burgerIcon {
    display: none;
  }

  footer {
    .chevron {
      display: none;
    }
  }
}

@media (max-width: 1250px) {
  .main-layout {
    header {
      padding: 40px 25px 37px 15px;
    }

    .logo-block {
      margin-right: 50px;
      height: 46px;
    }

    .bussiness-type-block {
      display: flex;
      flex-direction: column;
    }

    .header-action-buttons-block {
      display: flex;
      flex-direction: column;

      .header-action-button {
        height: 30px;
      }
    }

    .container {
      max-width: 930px;
      margin: 0 auto;
    }
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 60px 20px 0 20px;
  }
}

@media (max-width: 1178px) {
  .breadcrumbs_Wrapper {
    min-width: 55%;
    margin-bottom: 30px !important;
  }
}

@media (max-width: 1024px) {
  .main-layout {
    header {
      display: flex;
      justify-content: space-between;
    }

    .logo-block {
      margin-right: 30px;
      flex: 1;
    }

    .bussiness-type-block {
      display: none;
    }

    .menubar {
      .header-nav-link {
        display: none;
      }

      .show {
        display: block;
      }
    }

    .header-action-buttons-block {
      .openAcc {
        display: none;
      }

      .login {
        max-width: 100px;
        border-radius: 33px;
        margin-right: 20px;
      }
    }

    .burgerIcon {
      cursor: pointer;
    }

    .container {
      max-width: 830px;
      margin: 0 auto;
      padding: 0 15px 0 15px;
    }
  }

  footer {
    .footerWrapper {
      flex-direction: column;
      gap: 10px;
    }

    .footer-navigation-section {
      max-width: 100%;
      gap: 8px;
      display: flex;
      height: auto;

      &.mBottom {
        margin-bottom: 40px;
      }

      .footer-navigation-header {
        width: 100%;
      }

      h4 {
        margin-bottom: 8px;
        cursor: pointer;
      }
    }

    .footer-img {
      min-width: 100px;
    }
    .mobile_adress {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .mobile {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .logo-block {
      align-self: end;
      transform: translateY(-170px);
      max-height: 0;
    }
    .ltl-mobile {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .chevron {
      width: 32px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
  }

  .actionButtonBlock {
    display: flex;
    justify-content: center;
  }

  .breadcrumbs_Wrapper {
    min-width: 100%;
  }
}

@media (max-width: 720px) {
  .container {
    max-width: 650px;
    margin: 0 auto;
  }
}

@media (max-width: 390px) {
  footer {
    .mobile_adress {
      max-width: 120px;
    }
  }
}
.container {
  max-width: 1130px;
  margin: 0 auto;
}

.active-tnc-tab {
  text-decoration: underline;
}

.active-year-tab {
  text-decoration: underline;
}

.outlinedBtn {
  width: 194px;
  height: 42px;
  border: solid 1px #e9b317;
  border-radius: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #e9b317;
  text-decoration: none;
  transition: all 0.3s ease-out;
  cursor: pointer;

  &:hover {
    background-color: #e9b317;
    color: var(--white-text-color);
    transition: all 0.3s ease-out;
  }

  &.long {
    width: 252px;
  }

  &.blue {
    border: solid 1px #034585;
    background: transparent;
    color: #034585;

    &:hover {
      background: #034585;
      color: white;
    }
  }

  &.noBorder {
    border: none;
  }
}

.containedBtn {
  width: 194px;
  height: 42px;
  background: inherit;
  border-radius: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #e9b317;
  border: solid 1px #e9b317;
  text-decoration: none;
  transition: all 0.3s ease-out;
  cursor: pointer;

  &:hover {
    background-color: #e9b317;

    color: white;
    transition: all 0.3s ease-out;
  }

  &.long {
    width: 252px;
  }

  &.red {
    background: white;
    color: #fc5e48;
    border: solid 1px #fc5e48;

    &:hover {
      background: #fc5e48;
      color: white;
    }
  }

  &.blue {
    color: #034585;
    background: white;
    border: solid 1px #034585;
    &:hover {
      background: #034585;
      color: white;
    }
  }
}

.readMoreLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #000000;
}

.showStepLink {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: none;
  color: #000000;
}

.breadcrumbsLink {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #535353;
}

.breadcrumbs_Wrapper {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #535353;
  margin-bottom: 20px;
  display: flex;
}

.slick-active > .index-page-hero-slider-dot {
  background: #b5b5b5 !important;
}

.slick-dots {
  bottom: -56px !important;
}

//  Accordion Component
.accordionWrapper {
  border-top: 1px solid #acacac;

  .ac {
    padding: 16px 0;
    border-bottom: 1px solid #acacac;
  }

  .acHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .accHeaderTitle {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      cursor: pointer;
      flex: 1;
    }

    .accOpenBtn {
      height: 20px;
      width: 25px;
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
  }

  .acPanel {
    height: 1px;
    visibility: hidden;
    overflow: hidden;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    transition-duration: 500ms;

    &.opened {
      margin-top: 20px;
      height: auto;
      transition-duration: 500ms;
      visibility: visible;
    }
    .item {
      margin-bottom: 10px;
    }
  }

  &.muiltiLevel {
    .acHeader .accHeaderTitle {
      font-size: 18px;
      text-transform: uppercase;
    }

    & > .ac > .acPanel > .ac {
      padding: 16px 0 16px 42px;

      &:last-child {
        border-bottom: none;
      }

      .acPanel {
        padding-right: 30px;
      }

      .acHeader .accHeaderTitle {
        font-size: 16px;
        text-transform: unset;
      }
    }
  }
}

.page-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 62px;
  text-align: center;
  color: #0d222e;
  margin-bottom: 60px;
}

#react-modal-image-img {
  &.__react_modal_image__medium_img {
    width: 55%;
  }
}

.liMarker {
  list-style-position: inside;
  position: relative;
  left: 17px;
}
