.pageWrapper {
  padding: 100px 0 66px 0;
  background-color: var(--theme-color5);
  background-image: url("/assets/images/moneyLoundryingPage_heroBlock.svg");
  background-repeat: no-repeat;
  background-position: bottom right;

  .pageList {
    padding-left: 300px;

    .heroItem {
      max-width: 474px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .title {
      font-size: 30px;
      margin-bottom: 35px;
      text-align: left;
    }
  }

  .description {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-bottom: 35px;

    li {
      list-style-type: none;
      padding-left: 26px;
      background: url(/assets/images/check2.svg) no-repeat left center;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: 30px;
    }

    .CheckText {
      font-weight: 300;
      font-size: 16px;
    }
  }

  .actionButtonBlock {
    width: 251px;
    height: 42px;
    background: var(--theme-color2);
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white-text-color);
    text-decoration: none;
  }
}

.articlesSection {
  padding: 86px 0 55px 0;

  .articlesWrapper {
    max-width: 820px;
    margin: 0 auto;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 80px;
  }

  .articlesBlock {
    p {
      font-size: 17px;
      font-weight: 300;
      line-height: 24px;
    }
  }

  .articleParagraph {
    margin: 0 auto;
    max-width: 802px;
    padding: 0 20px;
    text-align: justify;
    font-size: 17px;
    font-weight: 300;
  }
}

//------ Media queries --------
@media (min-width: 1125px) {
  .pageWrapper {
    .heroImage {
      display: none;
    }
  }
}

@media (max-width: 1300px) {
  .pageWrapper {
    .pageList {
      padding-left: 100px;
    }
  }
}

@media (max-width: 1125px) {
  .pageWrapper {
    background-image: none;
    .pageList {
      display: flex;
      justify-content: center;
      .heroItem {
        max-width: 600px;
      }
      .imgBlock {
        display: flex;
        justify-content: center;
        gap: 30px;
      }

      .heroImage {
        margin-bottom: 30px;

        &.backBtn {
          cursor: pointer;
          margin-top: 36px;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .pageWrapper {
    .pageList {
      padding: 0 20px;
      .title {
        text-align: center;
      }
    }
  }
  .articlesWrapper {
    flex-wrap: wrap;
  }
}
