.pageWrapper {
  padding: 66px 0 46px 0;
  background-color: var(--theme-color5);
  background-image: url("/assets/images/operBankingPage_HeroBlock.svg");
  background-repeat: no-repeat;
  background-position: bottom right;

  .pageList {
    padding-left: 300px;

    .heroItem {
      max-width: 474px;
    }

    .title {
      font-size: 30px;
      margin-bottom: 35px;
    }
  }

  .description {
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    margin-bottom: 35px;

    li {
      list-style-type: none;
      padding-left: 26px;
      background: url(/assets/images/check2.svg) no-repeat left center;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      margin-bottom: 30px;
    }

    .CheckText {
      font-weight: 300;
      font-size: 16px;
    }
  }

  .actionButtonBlock {
    width: 251px;
    height: 42px;
    background: var(--theme-color2);
    border-radius: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--white-text-color);
    text-decoration: none;
  }
}

.articlesSection {
  padding: 86px 0 55px 0;

  .articlesWrapper {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }

  .articlesBlock {
    width: 330px;

    h4 {
      font-size: 25px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 10px;
      min-height: 60px;
      text-align: left;
    }

    p {
      font-size: 17px;
      font-weight: 300;
      line-height: 24px;
    }
  }
}

.contactsSection {
  padding: 55px 0 130px 0;

  .contactsWrapper {
    max-width: 890px;
    padding: 0 20px;
    margin: 0 auto;

    h4 {
      font-size: 25px;
      font-weight: 700;
      line-height: 32px;
      text-align: center;
      margin-bottom: 40px;
    }

    p {
      font-size: 17px;
      font-weight: 300;
      line-height: 22px;
      text-align: center;

      a {
        font-weight: 500;
        color: var(--main-text-color);
        text-decoration: none;
      }
    }
  }
}
@media (min-width: 1121px) {
  .pageWrapper {
    .heroImage {
      display: none;
    }
  }
}
@media (max-width: 1460px) {
  .pageWrapper {
    max-width: 1200px;
  }

  .esgPageList {
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (max-width: 1460px) {
  .pageWrapper {
    .pageList {
      padding-left: 100px;
    }
  }
}

@media (max-width: 1250px) {
  .imgBlock {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .heroImage {
    margin-bottom: 30px;

    &.backBtn {
      cursor: pointer;
      margin-top: 36px;
    }
  }
}
@media (max-width: 1220px) {
  .pageWrapper {
    .pageList {
      .heroItem {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media (max-width: 1120px) {
  .pageWrapper {
    background-image: none;
    .pageList {
      display: flex;
      justify-content: center;
      .heroItem {
        max-width: 600px;
      }
    }
  }
}
@media (max-width: 900px) {
  .pageWrapper {
    .pageList {
      padding: 0 20px;
    }
  }
  .articlesSection {
    padding: 86px 0 55px 0;

    .articlesWrapper {
      .articlesBlock {
        width: 100%;
      }
    }
  }
}
