.securityPage {
  padding: 92px 0 10px 0;
}

.securityPageWrapper {
  max-width: 880px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 30px;
  text-align: justify;

  .securityPageDescription {
    margin-bottom: 20px;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 62px;
    margin-bottom: 80px;
  }
  .subDescription {
    margin-bottom: 30px;
  }

  a {
    font-weight: 700;
    color: var(--main-text-color);
    text-decoration: none;
  }
  ol {
    list-style-position: inside;
    margin-bottom: 20px;
    li {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.faqSection {
  padding: 22px 0 60px 0;

  .faqWrapper {
    max-width: 1060px;
    padding: 0 20px;
    margin: 0 auto;

    .faqHeader {
      font-size: 25px;
      font-weight: 700;
      line-height: 31px;
      margin-bottom: 56px;
      text-align: center;
    }

    .faqList {
      padding: 71px 105px 70px 105px;
      box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15);
      background-color: #f9f8f7;
    }
  }
}
